@model Pokémons.Models.Pokemon

<h2>Ficha de Pokémon</h2>

<hr />

<div class="dl-horizontal">
    <label>N°:</label>
    <span>@Model.Id_Pokemon</span>
</div>
<div class="dl-horizontal">
    <label>Nombre:</label>
    <span>@Model.Nombre</span>
</div>
<div class="dl-horizontal">
    <label>Tipo:</label>
    <span>@Model.Tipo</span>
</div>
<div class="dl-horizontal">
    <label>Categoria:</label>
    <span>@Model.Categoria</span>
</div>
<div class="dl-horizontal">
    <label>Descripción:</label>
    <span>@Model.Descripcion</span>
</div>
<div class="dl-horizontal">
    <label>Altura:</label>
    <span>@Model.Altura</span>
</div>
<div class="dl-horizontal">
    <label>Peso:</label>
    <span>@Model.Peso</span>
</div>
<div class="dl-horizontal">
    <label>Sexo:</label>
    <span>@Model.Sexo</span>
</div>
<div class="dl-horizontal">
    <label>Ataques:</label>
    <span>@Model.Ataques</span>
</div>
<div class="dl-horizontal">
    <label>Habilidad:</label>
    <span>@Model.Habilidad</span>
</div>
<div class="dl-horizontal">
    <label>Debilidad:</label>
    <span>@Model.Debilidad</span>
</div>
<div class="dl-horizontal">
    <label>Evoluciones:</label>
    <span>@Model.Evoluciones</span>
</div>

