@model IEnumerable<Pokémons.Models.Pokemon>
@{
    ViewData["Title"] = "Listado";
}

<h2>Listado de Pokémons</h2>

<table class="table table-bordered table-hover table-responsive">
    <thead>
        <th>N°</th>
        <th>Nombre</th>
        <th>Tipo</th>
        <th>Categoria</th>
        <th>Descripcion</th>
        <th>Altura</th>
        <th>Peso</th>
        <th>Sexo</th>
        <th>Ataques</th>
        <th>Habilidad</th>
        <th>Debilidad</th>
        <th>Evoluciones</th>
        <th colspan="2">Action</th>
    </thead>
    <tbody>
        @foreach (Pokémons.Models.Pokemon p in Model)
        {
            <tr>
                <td>@Html.DisplayFor(m => p.Id_Pokemon)</td>
                <td>@Html.DisplayFor(m => p.Nombre)</td>
                <td>@Html.DisplayFor(m => p.Tipo)</td>
                <td>@Html.DisplayFor(m => p.Categoria)</td>
                <td>@Html.DisplayFor(m => p.Descripcion)</td>
                <td>@Html.DisplayFor(m => p.Altura)</td>
                <td>@Html.DisplayFor(m => p.Peso)</td>
                <td>@Html.DisplayFor(m => p.Sexo)</td>
                <td>@Html.DisplayFor(m => p.Ataques)</td>
                <td>@Html.DisplayFor(m => p.Habilidad)</td>
                <td>@Html.DisplayFor(m => p.Debilidad)</td>
                <td>@Html.DisplayFor(m => p.Evoluciones)</td>
                <td>@Html.ActionLink("Ver Ficha", "Ficha", new { Id_Pokemon = p.Id_Pokemon })</td>
            </tr>
        }
    </tbody>
</table>
