@model Pokémons.Models.Entrenadores

<h2>Ficha de Entrenador</h2>

<hr />

<div class="dl-horizontal">
    <label>Identificacion:</label>
    <span>@Model.Id_Entrenador</span>
</div>
<div class="dl-horizontal">
    <label>Nombre:</label>
    <span>@Model.Nombre</span>
</div>
<div class="dl-horizontal">
    <label>Edad:</label>
    <span>@Model.Edad</span>
</div>
<div class="dl-horizontal">
    <label>Pueblo:</label>
    <span>@Model.Pueblo</span>
</div>
<div class="dl-horizontal">
    <label>Medallas:</label>
    <span>@Model.Nom_Medallas</span>
</div>
<div class="dl-horizontal">
    <label>Medallas Ganadas:</label>
    <span>@Model.Num_Medallas</span>
</div>

